<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level3-Run-hd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{65,162}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{65,162}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>Level3-Run-hd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{75,170}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{75,170}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>Level3-Run-hd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,215},{93,156}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{93,156}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>Level3-Run-hd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{65,162}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{65,162}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>Level3-Run-hd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,170}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{77,170}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>Level3-Run-hd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{93,156}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{93,156}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fatguyfredL3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad1d6a6f2f59b552641127246a53cbb:964f18d414652733552ba803b863ba71:fc057a972062217f980017cda1fcd946$</string>
            <key>textureFileName</key>
            <string>fatguyfredL3.png</string>
        </dict>
    </dict>
</plist>
