<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Level4-Run-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 21}, {129, 325}}</string>
			<key>spriteOffset</key>
			<string>{15, -7}</string>
			<key>spriteSize</key>
			<string>{129, 325}</string>
			<key>spriteSourceSize</key>
			<string>{185, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {129, 325}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level4-Run-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 5}, {137, 342}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{137, 342}</string>
			<key>spriteSourceSize</key>
			<string>{203, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {137, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level4-Run-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 35}, {185, 313}}</string>
			<key>spriteOffset</key>
			<string>{-6, -15}</string>
			<key>spriteSize</key>
			<string>{185, 313}</string>
			<key>spriteSourceSize</key>
			<string>{199, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 343}, {185, 313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level4-Run-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 5}, {128, 341}}</string>
			<key>spriteOffset</key>
			<string>{10, 1}</string>
			<key>spriteSize</key>
			<string>{128, 341}</string>
			<key>spriteSourceSize</key>
			<string>{202, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 0}, {128, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level4-Run-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 35}, {175, 313}}</string>
			<key>spriteOffset</key>
			<string>{-2, -16}</string>
			<key>spriteSize</key>
			<string>{175, 313}</string>
			<key>spriteSourceSize</key>
			<string>{201, 351}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 326}, {175, 313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level4-Run-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 21}, {129, 324}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{129, 324}</string>
			<key>spriteSourceSize</key>
			<string>{203, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{269, 0}, {129, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fatguyfredL4-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>