<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>level4-run-ipadhd-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 0}, {164, 356}}</string>
			<key>spriteOffset</key>
			<string>{21, -0}</string>
			<key>spriteSize</key>
			<string>{164, 356}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {164, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4-run-ipadhd-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 2}, {166, 354}}</string>
			<key>spriteOffset</key>
			<string>{20, -1}</string>
			<key>spriteSize</key>
			<string>{166, 354}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 356}, {166, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4-run-ipadhd-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {206, 354}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{206, 354}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 0}, {206, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4-run-ipadhd-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 2}, {160, 354}}</string>
			<key>spriteOffset</key>
			<string>{23, -1}</string>
			<key>spriteSize</key>
			<string>{160, 354}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 0}, {160, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4-run-ipadhd-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {196, 354}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{196, 354}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 356}, {196, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4-run-ipadhd-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 14}, {164, 342}}</string>
			<key>spriteOffset</key>
			<string>{21, -7}</string>
			<key>spriteSize</key>
			<string>{164, 342}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 358}, {164, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled 4</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fatguyfredL4-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fatguyfredL4-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>