<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>level5-run-ipadhd-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 0}, {162, 356}}</string>
			<key>spriteOffset</key>
			<string>{22, -0}</string>
			<key>spriteSize</key>
			<string>{162, 356}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 0}, {162, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level5-run-ipadhd-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 0}, {160, 356}}</string>
			<key>spriteOffset</key>
			<string>{23, -0}</string>
			<key>spriteSize</key>
			<string>{160, 356}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 358}, {160, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level5-run-ipadhd-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {190, 356}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{190, 356}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 358}, {190, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level5-run-ipadhd-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 20}, {126, 336}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{126, 336}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 0}, {126, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level5-run-ipadhd-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 2}, {160, 354}}</string>
			<key>spriteOffset</key>
			<string>{23, -1}</string>
			<key>spriteSize</key>
			<string>{160, 354}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 358}, {160, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level5-run-ipadhd-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {190, 356}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{190, 356}</string>
			<key>spriteSourceSize</key>
			<string>{206, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {190, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled 4</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fatguyfredL5-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fatguyfredL5-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>