<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level2-Run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,166},{65,162}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,11},{65,162}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
		<key>Level2-Run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{83,170}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,3},{83,170}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
		<key>Level2-Run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{93,156}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,18},{93,156}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
		<key>Level2-Run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,2},{65,162}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,11},{65,162}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
		<key>Level2-Run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,87},{81,170}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{81,170}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
		<key>Level2-Run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{91,156}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,18},{91,156}}</string>
			<key>sourceSize</key>
			<string>{103,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fatguyfredL2.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:62a6121eb7f2c6cebc473608d0db079c:f11bdbc7febe29271b1c1954b49dfa1e:3e5893384b19f4ba049dfb00aa4e57ce$</string>
		<key>textureFileName</key>
		<string>fatguyfredL2.png</string>
	</dict>
</dict>
</plist>
