<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Level5-Run-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 21}, {130, 324}}</string>
			<key>spriteOffset</key>
			<string>{8, -7}</string>
			<key>spriteSize</key>
			<string>{130, 324}</string>
			<key>spriteSourceSize</key>
			<string>{202, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 316}, {130, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level5-Run-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 5}, {127, 341}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{127, 341}</string>
			<key>spriteSourceSize</key>
			<string>{203, 351}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 0}, {127, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level5-Run-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 35}, {158, 313}}</string>
			<key>spriteOffset</key>
			<string>{-5, -15}</string>
			<key>spriteSize</key>
			<string>{158, 313}</string>
			<key>spriteSourceSize</key>
			<string>{200, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {158, 313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level5-Run-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 21}, {127, 324}}</string>
			<key>spriteOffset</key>
			<string>{12, -7}</string>
			<key>spriteSize</key>
			<string>{127, 324}</string>
			<key>spriteSourceSize</key>
			<string>{197, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 316}, {127, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level5-Run-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 5}, {128, 342}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{128, 342}</string>
			<key>spriteSourceSize</key>
			<string>{202, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {128, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level5-Run-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 35}, {167, 314}}</string>
			<key>spriteOffset</key>
			<string>{-2, -16}</string>
			<key>spriteSize</key>
			<string>{167, 314}</string>
			<key>spriteSourceSize</key>
			<string>{203, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 0}, {167, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fatguyfredL5-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>