<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level3-Run-hd_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{65,163}}</string>
			<key>offset</key>
			<string>{5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,9},{65,163}}</string>
			<key>sourceSize</key>
			<string>{103,175}</string>
		</dict>
		<key>Level3-Run-hd_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{84,171}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,1},{84,171}}</string>
			<key>sourceSize</key>
			<string>{104,175}</string>
		</dict>
		<key>Level3-Run-hd_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,225},{93,157}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,16},{93,157}}</string>
			<key>sourceSize</key>
			<string>{103,175}</string>
		</dict>
		<key>Level3-Run-hd_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{68,163}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,9},{68,163}}</string>
			<key>sourceSize</key>
			<string>{104,175}</string>
		</dict>
		<key>Level3-Run-hd_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{75,171}}</string>
			<key>offset</key>
			<string>{13,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,1},{75,171}}</string>
			<key>sourceSize</key>
			<string>{103,175}</string>
		</dict>
		<key>Level3-Run-hd_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,225},{91,157}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{91,157}}</string>
			<key>sourceSize</key>
			<string>{103,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fatguyfredL1-hd.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e9e409743fe0fac150d8991b2d227be9:9b0df3064488d820d3b4984b5ea8b3de:27db3185cd9d89c729803691453bef53$</string>
		<key>textureFileName</key>
		<string>fatguyfredL1-hd.png</string>
	</dict>
</dict>
</plist>
