<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Level2-Run-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 21}, {129, 325}}</string>
			<key>spriteOffset</key>
			<string>{9, -7}</string>
			<key>spriteSize</key>
			<string>{129, 325}</string>
			<key>spriteSourceSize</key>
			<string>{203, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 339}, {129, 325}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level2-Run-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 6}, {166, 341}}</string>
			<key>spriteOffset</key>
			<string>{17, -1}</string>
			<key>spriteSize</key>
			<string>{166, 341}</string>
			<key>spriteSourceSize</key>
			<string>{202, 351}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {166, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level2-Run-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 35}, {184, 312}}</string>
			<key>spriteOffset</key>
			<string>{-6, -14}</string>
			<key>spriteSize</key>
			<string>{184, 312}</string>
			<key>spriteSourceSize</key>
			<string>{204, 354}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 339}, {184, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level2-Run-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 21}, {130, 324}}</string>
			<key>spriteOffset</key>
			<string>{8, -7}</string>
			<key>spriteSize</key>
			<string>{130, 324}</string>
			<key>spriteSourceSize</key>
			<string>{206, 352}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 653}, {130, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level2-Run-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 6}, {160, 341}}</string>
			<key>spriteOffset</key>
			<string>{19, -0}</string>
			<key>spriteSize</key>
			<string>{160, 341}</string>
			<key>spriteSourceSize</key>
			<string>{204, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 343}, {160, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level2-Run-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {200, 337}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{200, 337}</string>
			<key>spriteSourceSize</key>
			<string>{206, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {200, 337}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fatguyfredL2-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>